table{
  border: 1px solid black;
  border-collapse: collapse;
  border-spacing: 0;
}

thead td{
  border: 1px dotted lightslategray;
  font-weight: 500;
}

.ZuydPlanningHeader {
  color: white;
  background-color: #85c4f0;
}

thead th {
  border: 1px dotted lightslategray;
  font-weight: 500;
  min-width: 25px;
}

tbody tr:first-child th:first-child{
  border: 1px dotted lightslategray;
  font-weight: bold;
}

tbody th{
  border: 1px dotted lightslategray;
  font-weight: normal;
}

tbody td{
  border: 1px dotted lightslategray;
  font-weight: normal;
}

tbody tr:nth-child(odd){
  background: #E0E8F2;
}

tbody tr:first-child .overplanned{
  color: red;
}

tbody tr:first-child .underplanned{
  color: #ebbd64;
}

tbody tr:first-child .perfect{
  color: #8aba87;
}

.smallFont {
  font-size: 12px;
}

.xsFont{
  font-size: 9px;
}

p.xsFont {
  padding: 0;
  margin: 0;
}

th.boldTableHeader a{
  cursor: pointer;
}

.mat-icon {
  font-size: 15px;
  margin-bottom: -5px;
}

tbody tr:first-child .qGreen {
  color: #8aba87;
}

tbody tr:first-child .qOrange {
  color: #ebbd64;
}

tbody tr:first-child .qRed {
  color: #EA6A6A;
}

.qGreenArrow {
  color: #8aba87;
}

.qOrangeArrow {
  color: #ebbd64;
}

.loader ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #8aba87;
}

