.button-right{
  position: absolute;
  right: 10%;
  margin: 0;
}

tr.mat-footer-row {
  font-weight: bold;
}

.mat-table-sticky {
  border-top: 1px solid #e0e0e0;
}

.filter {
  margin-left: 5px;
}

.label-spacer{
  margin-left: 10px;
}

.reserve-height
{
  padding-bottom: 30px;
}
