<body>
  <mat-toolbar *ngIf="isLoggedIn" color="primary">
    <mat-toolbar-row>
      <!-- Logo/Home button (vervangt aparte Overzicht knop) -->
      <a mat-button class="logo-button" routerLink="/">
        <h1>QPlanning</h1>
      </a>

      <!-- Main navigation buttons (naast logo) -->
      <button mat-button *ngIf="isManager" [matMenuTriggerFor]="boeking" class="nav-menu">
        Planning
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <mat-menu #boeking="matMenu" class="nav-dropdown">
        <button mat-menu-item *ngIf="isAtLeastPlanner" routerLink="/boekingen-overzicht">Boekingen overzicht</button>
        <button mat-menu-item *ngIf="isManager" routerLink="/klant-planning">Klant planning</button>
        <button mat-menu-item *ngIf="isManager" routerLink="/medewerker-planning">Medewerker planning</button>
      </mat-menu>

      <button mat-button *ngIf="isAdmin" [matMenuTriggerFor]="beheer" class="nav-menu">
        Beheer
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <mat-menu #beheer="matMenu" class="nav-dropdown">
        <button mat-menu-item routerLink="/beheer-medewerkers">Medewerkers beheren</button>
        <button mat-menu-item routerLink="/beheer-klanten">Klanten beheren</button>
        <button mat-menu-item routerLink="/beheer-gebruikers">Gebruikers beheren</button>
      </mat-menu>

      <!-- Push user menu to the right -->
      <span class="flex-spacer"></span>

      <!-- User menu (rechts) -->
      <ng-container *ngIf="isLoggedIn; else loggedOut">
        <button mat-button [matMenuTriggerFor]="userMenu" class="user-menu" aria-label="Gebruiker menu">
          <span>Welkom, {{username}}</span>
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>

        <mat-menu #userMenu="matMenu" class="user-dropdown">
          <button mat-menu-item (click)="redirectToResetPassword()">
            <mat-icon>lock</mat-icon>
            <span>Wachtwoord wijzigen</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="authenticationService.logout()" routerLink="/login">
            <mat-icon>exit_to_app</mat-icon>
            <span>Uitloggen</span>
          </button>
        </mat-menu>
      </ng-container>

      <ng-template #loggedOut>
        <a mat-button routerLink="/login">Inloggen</a>
      </ng-template>

    </mat-toolbar-row>
  </mat-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</body>