<h2 mat-dialog-title>{{ title }}</h2>

<mat-dialog-content [formGroup]="form" class="form-container">

<div class="naamvelden">
  <mat-form-field appearance="outline">
    <mat-label>Voornaam</mat-label>
    <input matInput required formControlName="voornaam">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Achternaam</mat-label>
    <input matInput required formControlName="achternaam">
  </mat-form-field>
</div>


  <!-- Boekjaar & Budget -->
  <mat-form-field appearance="outline">
    <mat-label>Boekjaar</mat-label>
    <input matInput minlength="4" maxlength="4" formControlName="boekjaar">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Budget</mat-label>
      <span matPrefix>€&nbsp;</span>
    <input matInput required maxlength="8" formControlName="budget" pattern="^[0-9]*$">
    <mat-error *ngIf="form.get('budget')?.hasError('required') && form.get('budget')?.touched">
      Budget in hele euro's
    </mat-error>
  </mat-form-field>

    <!-- Partner/manager -->
  <mat-form-field appearance="outline" class="span-2">
    <mat-label>Partner/Manager</mat-label>
    <mat-select required formControlName="medewerkerId">
      <mat-option *ngFor="let medewerker of medewerkersDropDown" [value]="medewerker.id">
        {{ medewerker.naam }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Teams -->
  <mat-form-field appearance="outline">
    <mat-label>Verantwoordelijk team</mat-label>
    <mat-select required formControlName="verantwoordelijkTeamId">
      <mat-option *ngFor="let team of teamDropDown" [value]="team.id">
        {{ team.naam }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Planbaar door teams</mat-label>
    <mat-select [multiple]="true" formControlName="planbaarDoorTeamIds">
      <mat-option *ngFor="let team of teamDropDown" [value]="team.id">
        {{ team.naam }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Datums -->
  <mat-form-field appearance="outline">
    <mat-label>Startdatum</mat-label>
    <input matInput [matDatepicker]="startdatumPicker" formControlName="startdatum">
    <mat-datepicker-toggle matSuffix [for]="startdatumPicker"></mat-datepicker-toggle>
    <mat-datepicker #startdatumPicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Einddatum</mat-label>
    <input matInput [matDatepicker]="einddatumPicker" formControlName="einddatum">
    <mat-datepicker-toggle matSuffix [for]="einddatumPicker"></mat-datepicker-toggle>
    <mat-datepicker #einddatumPicker></mat-datepicker>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button (click)="close()">Annuleren</button>
  <button mat-flat-button color="primary" [disabled]="!form.valid" (click)="save()">
    {{ saveButtonText }}
  </button>
</mat-dialog-actions>
