<h2 mat-dialog-title>{{ title }}</h2>

<mat-dialog-content [formGroup]="form" class="form-container">

  <div class="row">
    <!-- Boekjaar -->
    <mat-form-field class="half-width" appearance="outline">
      <mat-label>Boekjaar</mat-label>
      <input 
        matInput 
        minlength="4" 
        maxlength="4" 
        #boekjaar 
        formControlName="boekjaar" 
        pattern="^[0-9]*$"
        required>
      <mat-hint align="end">{{ boekjaar.value.length }} / 4</mat-hint>
      <mat-error *ngIf="form.get('boekjaar')?.hasError('required') && form.get('boekjaar')?.touched">
        Voer een geldig jaartal in
      </mat-error>
    </mat-form-field>

    <!-- Bedrag -->
    <mat-form-field class="half-width" appearance="outline">
      <mat-label>Bedrag (in hele euro)</mat-label>
      <input 
        matInput 
        required 
        maxlength="8" 
        formControlName="bedrag" 
        pattern="^[0-9]*$">
      <mat-error *ngIf="form.get('bedrag')?.hasError('required') && form.get('bedrag')?.touched">
        Voer een geldig getal in
      </mat-error>
    </mat-form-field>
  </div>

</mat-dialog-content>




<mat-dialog-actions align="end">
  <button mat-stroked-button (click)="close()">Annuleren</button>
  <button mat-flat-button color="primary" [disabled]="!form.valid" (click)="save()">
    {{ saveButtonText }}
  </button>
</mat-dialog-actions>