<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content class="grid" [formGroup]="form">


<table class="example-full-width">
  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Boekjaar" minlength="4" maxlength="4" #boekjaar formControlName="boekjaar">
        <mat-hint align="end">{{boekjaar.value.length}} / 4</mat-hint>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Bedrag" required maxlength="8" formControlName="bedrag">
      </mat-form-field>
    </td>
  </tr>
</table>

</mat-dialog-content>

  <mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Sluiten</button>
    <button [disabled]="!form.valid" class="mat-raised-button mat-primary" (click)="save()">{{saveButtonText}}</button>
  </mat-dialog-actions>
